* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

section {
  padding: 30px;
}

.title {
  margin: 10px 0 30px;
  font-size: 1.6rem;
  color: #2ab2af;
}

.title--section {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #e5eff5;
}

.btn {
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px -5px  gray;
          box-shadow: 0 5px 15px -5px  gray;
  padding: 15px;
  background-color: #c0df34;
  color: #e5eff5;
  font-size: 1.1rem;
  font-weight: 700;
}

.header {
  margin-bottom: 15px;
}

.header__subtitle {
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 120%;
  color: #c0df34;
}

.header__description {
  color: #98a6bd;
  line-height: 200%;
}

.offer {
  background-color: #2ab2af;
}

.about {
  background-color: #2dbebc;
}

.about__list {
  list-style: none;
}

.about__list-element {
  line-height: 150%;
  color: #e5eff5;
}

.footer__attribution {
  padding: 10px 30px;
  background-color: #2ab2af;
  color: #e5eff5;
  font-family: 'Karla', sans-serif;
  font-size: 0.7rem;
  text-align: center;
}

.footer__attribution a {
  color: #114a49;
  text-decoration: none;
}
