@import "reset";
@import "variables";

body {
    background-color: $font-light;
}

.wrapper {
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;

    @media (min-width: 768px) {
        font-size: 20px;
    }

    @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: 1200px) {
        font-size: 24px;
    }

    @media (min-width: 1400px) {
       width: 60vw;
       margin: 10vh auto;
       border-radius: 10px;
       box-shadow: 0 0 30px -5px $font-dark;
       font-size: 20px;
       overflow: hidden;
    }

    @media (min-width: 1600px) {
        width: 50vw;
    }
}

section {
    padding: 30px;

    @media (min-width: 540px) {
        padding: 30px 50px;
    }

    @media (min-width: 1024px) {
        height: auto;
    }   

    @media (min-width: 1200px) {
        padding: 40px 80px 60px;
    }

    @media (min-width: 1400px) {
       padding: 30px 50px;
     }

}

.title {
    margin: 10px 0 30px;
    font-size: 1.6rem;
    color: $bgc-main;

    @media (min-width: 768px) {
        margin: 20px 0 40px;
    }

    @media (min-width: 1024px) {
        font-size: 2rem;
    }

    &--section {
        margin-bottom: 20px;
        font-size: 1.4rem;
        color: $font-light;

        @media (min-width: 768px) {
            margin-bottom: 30px;
        }

        @media (min-width: 1024px) {
            font-size: 1.8rem;
        }
    
    }
}

.btn {
    width: 100%;
    margin-top: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px -5px  gray;
    padding: 16px;
    background-color: $bgc-btn;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;

    @media (min-width: 540px) {
        margin-top: 50px;
        padding: 20px;
    }
}

.header {
    background-color: #fff;

    &__subtitle {
        margin-bottom: 20px;
        font-size: 1.2rem;
        line-height: 120%;
        color: $bgc-btn;

        @media (min-width: 1024px) {
            font-size: 1.6rem;
        }
    
    }

    &__description {
        margin-bottom: 15px;
        color: $font-dark;
        line-height: 200%;
    }

    @media (min-width: 1024px) {
        width: 100%;
    }
}

.offer {
    background-color: $bgc-main;
    color: $font-light;
    
    &__price-element {
        display: flex;
        margin-bottom: 10px;

        strong {
            font-size: 2em;
            color: white;
        }

        p {
            margin-left: 4%;
            line-height: 2.4em;
            opacity: 0.6;

            @media (min-width: 1024px) {
                margin-left: 5%;
            }
        }
    }

    @media (min-width: 768px) {
        padding-bottom: 40px;
    }

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.about {
    background-color: $bgc-light;

    &__list {
        list-style: none;
    }

    &__list-element {
        line-height: 150%;
        color: $font-light;
    }

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.footer__attribution { 
    padding: 10px 30px;
    background-color: darken($bgc-main,3%);
    color: $font-light;
    font-family: 'Karla', sans-serif;
    font-size: 0.7rem; 
    text-align: center; 
    a { 
        color: darken($bgc-main, 25%); 
        text-decoration: none;
    }

    @media (min-width: 768px) {
        padding: 20px 50px;
    }

    @media (min-width: 1400px) {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $font-dark;
        opacity: 0.8;
        letter-spacing: 1px;
    }
}
