@import "reset";
@import "variables";

.wrapper {
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.header {

}

.offer {
    background-color: $bgc-main;
}

.about {
    background-color: $bgc-light;
}


.footer__attribution { 
    background-color: $bgc-main;
    font-size: 11px; 
    text-align: center; 
    a { color: hsl(228, 45%, 44%); }
}
